@import "../../assets/constant/color";
@import "../../assets/constant/mixin";
.ProfilePage {
    .profiledetails{
        margin-top: 40px;
        @include spacebetween-align ;
        flex-wrap: wrap;
        .avatar{
            min-width: 150px;
            height: 150px;
            border-radius: 50%;
            background-color: $color-puregray;
            @include center-align ;
            font-size: 50px;
            color: $color-purewhite;
        }
        .profileinput-holder{
            display: flex;
        }
    }
}
