$color-blue: #3976eb;
.sidebar {
    margin: 0;
    padding: 10px 5px;
    width: 60px;
    background-color: $color-blue;
    position: fixed;
    height: 100%;
    overflow: auto;
    top: 0px;
    z-index: 100500;
    display: flex;
    flex-direction: column;
    display: none;
    a {
        display: block;
        color: black;
        padding: 16px;
        text-decoration: none;
    }
    a.active {
        background-color: #4caf50;
        color: white;
    }
    a:hover:not(.active) {
        background-color: #555;
        color: white;
    }
    div {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        cursor: pointer;
        margin: 20px 0px;
        img{
            width: 30px;
        }
        .autowidth{
            width: auto;
        }
    }
    .selection{
        background-color: #2855b4;
        border-radius: 4px;
        padding: 10px
    }
    .fillwhite{
        background-color: #3976eb;
        border-radius: 10px;
        color: white;
        .menuimg {
            width: 21px;
            height: 21px;
           
            path {
              fill: #ffffff;
            }
            rect {
              fill: #ffffff;
            }
            ellipse {
              fill: #ffffff;
            }
            circle {
              fill: #ffffff;
            }
          }
          .menufileimg {
            width: 21px;
            height: 21px;
            path {
              stroke: #ffffff;
            }
            circle {
              fill: #ffffff;
            }
          }
    }
}
