$color-blue: #3976eb;
.sidebar {
    width: 60px;
    background-color: #3976eb;
    position: fixed;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    top: 0px;
    z-index: 100500;
    .sidemenuholder{
      flex-direction: column;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 60px;
    a {
        display: block;
        color: black;
        padding: 16px;
        text-decoration: none;
    }
    a.active {
        background-color: #4caf50;
        color: white;
    }
    a:hover:not(.active) {
        background-color: #555;
        color: white;
    }
    div {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 40px;
        cursor: pointer;
        margin: 20px 0px;
        img{
            width: 30px;
        }
        .autowidth{
            width: auto;
        }
    }
    .selection{
        background-color: #2855b4 !important;
        border-radius: 4px  !important;
        padding: 10px
    }
    .fillwhite{
        background-color: #3976eb;
        border-radius: 10px;
        color: white;
        .menuimg {
            width: 21px;
            height: 21px;
           
            path {
              fill: #ffffff;
            }
            rect {
              fill: #ffffff;
            }
            ellipse {
              fill: #ffffff;
            }
            circle {
              fill: #ffffff;
            }
          }
          .menufileimg {
            width: 21px;
            height: 21px;
            path {
              stroke: #ffffff;
            }
            circle {
              fill: #ffffff;
            }
          }
    }
  }
}
