@import "../../../assets/constant/color";
@import "../../../assets/constant/mixin";
@mixin  dot {
  width: 6px;
  height: 6px;
  border-radius: 3px;
  margin-right: 3px;
  margin-top: 1px;
}
@mixin  btn {
  border: 1px solid $color-lightgray;
  color: $color-gray;
  padding: 8px;
  border-radius: 4px;
  font-size: 13px;
  cursor: pointer;
}
@mixin select {
  border: 0.5px solid $color-lightgray;
  font-size: 11px;
  height: 30px;
}
.tablescroll {
  .sourceinput60 {
    width: 60px !important;
    margin: 0px 7px !important;
  }
  .sourceinput120 {
    width: 120px !important;
    margin: 0px 7px !important;
    input {
      width: 80% !important;
      border: none;
    }
  }
  #SLACK-CHANNEL,
  #WEEKLY-STATUS,
  #LAST-RUN,
  #STATICTICS,
  #REPORT {
    text-align: center;
  }

  .sourceinput200 {
    width: 200px !important;
    margin: 0px 7px !important;
    input {
      width: 80% !important;
      border: none;
    }
  }
  .reddot {
    @include dot;
    background-color: $color-red;
  }
  .greendot {
    @include dot;
    background-color: $color-green;
  }
  .action-td-container {
    @include spacebetween-align;
    .edit-action {
      cursor: pointer;
    }
  }
  .fieldholder {
    margin-top: 20px;
    .detailbtn {
      height: 30px;
    }
  }
  .norecord {
    text-align: center;
    font-size: 14px;
  }
  .customselect {
    width: 75px !important;
    @include select;
  }
  .customselect130 {
    width: 135px !important;
    @include select;
    margin: 0px 7px !important;
  }
  .foucscell {
    text-decoration: underline;
    cursor: pointer;
  }
  .cellholder {
    @include center-align;
    .cell {
      width: 25px;
      height: 25px;
      @include center-align;
      border-radius: 50%;
      background-color: $color-fade-white;
      color:  $color-gray;
      margin: 0px 5px;
    }
    .selected{
      background-color: $color-green !important;
      color: $color-purewhite;;
    }
    .trendbtn {
      @include center-align;
      @include btn;
      width: 65px;
    }
    .disable{
      border: none;
      color: $color-gray;
      background-color: $color-fade-white;
      cursor:none;
    }
    .exportbtn {
      @include center-align;
      @include btn;
      width: 100px;
    }
    .exportbtn:hover{
      border: none;
      padding: 9px;
      color: $color-purewhite;
      background-color: $color-blue;
    }
  }
  .filerow {
    height: 70px;
    padding-right: 30px;
  }
  .checkboxtd {
    width: 40px;
    padding: 0px;
    padding-left: 0px !important;
    .filecheck {
      width: 25px;
      margin-left: 5px;
      margin-right: 0px;
    }
  }
  .width200 {
    width: 200px;
  }
}
