.tardis-container {
  min-width: 1024px;
}

.centeralign {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  position: absolute;
  z-index: 3;
  top: 140px;
  left: 280px;
  right: 50px;
  bottom: 0px;
  
}

.paddzero {
  padding: 0px !important;
}

@keyframes fullscreenanimation {
  0% {
    top: 140px;
    left: 280px;
    right: 50px;
    bottom: 0px;
  }

  100% {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
@keyframes originalscreenanimation {
  0% {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  100% {
    top: 140px;
    left: 280px;
    right: 50px;
    bottom: 0px;
  }
}
.fullscreen {
  position: fixed;
  z-index: 100500;
  border-radius: 0px !important;
  animation-name: fullscreenanimation;
  animation-duration: 1s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
}
.originalscreen {
  animation-name: originalscreenanimation;
  animation-duration: 1s;
}

@keyframes sideopenanimation {
  0% {
    top: 0px;
    left: -50px;
    right: 0px;
    bottom: 0px;
  }

  100% {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
  }
}
@keyframes sidecloseanimation {
  0% {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
  }

  100% {
    top: 0px;
    left: -50px;
    right: 0px;
    bottom: 0px;
  }
}
.sideopen {
  z-index: 100500;
  animation-name: sideopenanimation;
  animation-duration: 1s;
  top: 0;
  left: -50px;
  right: 0;
  bottom: 0;
}
.sideclose {
  animation-name: sidecloseanimation;
  animation-duration: 1s;
}
