.SourceMappage {
  background-color: white;
  border-radius: 10px 10px 0px 0px;
  min-height: 670px;
  padding: 60px 30px 30px 30px;
  min-width: 700px;
}
.controls {

  .source2 {
    .select-search__input {
      height: 50px;
    }
  }
  .isoptional-container{
    margin-top: 20px;
    .radio-container{
      padding-left: 0px;
      .radio-btn-group{
        padding-left: 0px;
      }
    }
  }
}