$color-bule: #3976eb;
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #3976eb;
  border-radius: 3px;
}
 
::-webkit-scrollbar-thumb {
  background: $color-bule;
  border-radius: 3px;
}