.nfcontainer{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    .pagenotfound{
        text-align: center;
        margin-bottom:20%;
        .statuscode{
            font-size: 80px;
        }
        .labletxt{
            font-size: 30px;
        }
        .cellholder {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
            .goback{
                padding: 10px 20px;
                border-radius: 4px;
                border: 1px solid #ccc;
                cursor: pointer;
            }
        }
    }
}